html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}


#app{
  background: url('https://s3-eu-west-1.amazonaws.com/pstk-blog-staging/images/articles/Blog-post-14.jpg');
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.bg-light {
  background-color: #ffffffeb !important;
}
.navbar {
  padding: 1rem 0 !important;
  box-shadow: 0 1px 10px #484848 !important;
}
.loginDetail{
  margin-top: 7vh;
  padding: 5vh 5vw;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 1px 15px #edbd6a !important;
}